.App {
  background-color: #c4c4c4;
  color: black;
}

.common {
  border: 1px solid black;
}

.App-header {
  border: 1px solid black;
}

.timer {
  text-align: right;
}

.App-body {
  height: 500px;
  color: black;
  margin-right: 0px;
  margin-left: 0px;
}

table tr {
  line-height: 2.1;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
